{% extends 'wikiapp/base.html' %}


{% block content %}
<h1>index</h1>

{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'newUser' %}">Create Account</a>
{% endif %}
<hr/>


{% for posts in allposts %}
<a href="{% url 'readwiki' post.pk  %}"><p>{{post.title}}</p></a>
<p>{{post.created}}</p>
<p>{{post.updated}}</p>
{% endfor %}



{% endblock content %}
