{% extends 'wikiapp/base.html' %}



{% block content %}
<h1>Welcome to the Django Wiki</h1>

{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'newUser' %}">Create Account</a>
{% endif %}
<hr/>


{% endblock content %}


{% block post %}
{% for post in allposts %}
<a class="title" href="{% url 'readwiki' post.pk  %}"><p>{{post.title}}</p></a>

<p class="text">{{post.text}}</p>


{% if post.image %}
<img class="img" src="{{post.image.url|default_if_none:'#'}}" />
{% endif %}


{% endfor %}

{% endblock post %}

<footer>
    {% block footer %}
    <p>Gerren Gregory-Code Crew 2019</p>
    {% endblock footer %}
</footer>
