{% extends 'wikiapp/base.html' %}
{% block content %}



<h1>{{item.title}}</h1>
{% if item %}

<div class="card" style="width: 15rem;">
    {% if item.image %}
    <img src="{{item.image.url|default_if_none:'#'}}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <p class="card-text"><a href="{% url 'readrelated' item.pk %}">{{item.title}}</a></p>
        <p>{{item.text}}</p>
        {% if user.is_authenticated %}

        <p><a href="{% url 'editrelated' item.pk %}">Edit</a></p>
        <a href="{% url 'deleterelated' item.pk %}">Delete</a>
        {% endif %}
    </div>
</div>
{% endif %}




{% endblock content %}






