{% extends 'wikiapp/base.html' %}


{% block content %}
<h1>Results</h1>


{% endblock content %}






{% block post %}
{% for post in allposts %}
<a class="title" href="{% url 'readwiki' post.pk  %}"><p>{{post.title}}</p></a>

<p class="text">{{post.text}}</p>


{% if post.image %}
<img class="img" src="{{post.image.url|default_if_none:'#'}}" />
{% endif %}


{% endfor %}

{% endblock post %}

<footer>
    {% block footer %}
    <p>Gerren Gregory-Code Crew 2019</p>
    {% endblock footer %}
</footer>