{% extends 'wikiapp/base.html' %}

{% block content %}
<h1>Your Wikis</h1>
{% endblock content %}


{% block post %}
{% for post in posts %}

<a class="title" href="{% url 'readwiki' post.pk  %}"><p>{{post.title}}</p></a>
<p>{{post.created}}</p>
<p>{{post.updated}}</p>


<a class="option" href=' {% url "editwiki" post.pk %}'>Edit</a>
<a class="option" href=' {% url "deletewiki" post.pk %}'>Delete</a>


{% endfor %}
{% endblock post %}

<footer>
    {% block footer %}
    <p>Gerren Gregory-Code Crew 2019</p>
    {% endblock footer %}
</footer>